/* [ DESKTOP ] */
@media (min-width: 1020px) 
{
    .MR_form
    {
        height: auto;
        width:  1500px;

        padding: 2rem 4rem;

        display:         flex;
        flex-direction:  column;
        align-items:     center;
        justify-content: space-between;
        gap:             2rem;

        background-color:       #00203680;
        box-shadow: 0 4px 30px  rgba(0, 0, 0, 0.8);
        backdrop-filter:          blur(25px);
        -webkit-backdrop-filter:  blur(25px);

        border-radius: 15px;

        transition: all ease-out 0.14s;
    }

    .MR_form > span
    {
        font-size:   2rem;
        font-weight: 800;
        text-align:  center;

        color: #0695e4;
    }

    .MR_upper_form, .MR_lower_form
    {
      height: auto;
      width: 100%;

      display:         flex;
      flex:            1 1 100%;
      flex-wrap:       wrap;
      align-items:     flex-end;
      justify-content: space-between;

    }

    .MR_general_data_item
    {
        display:        flex;
        flex-direction: column;
        gap:            0.5rem;
    }

    .MR_c2a
    {
      padding: 0.125rem 0.5rem;
  
      height: 3.5rem;
      width:  10rem;

      display:         flex;
      align-items:     center;
      justify-content: space-between;

      appearance:    none;
      border:        none;
      border-radius: 5px;

      background-color: #0695e4;

      transition: all 0.14s ease-out;
    }

    .MR_c2a img
    {
        height: 50%;
        
        object-fit:   contain;
        aspect-ratio: 1/1;
    }

    .MR_c2a:hover { filter: brightness(0.8); cursor: pointer;}
    .MR_c2a:focus { outline: none; }


}