*
{
    margin:  0;
    padding: 0;

    box-sizing: border-box;
}

html, body
{
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size:   12px;

    color-scheme: light dark;
    color:      #e8f1ff;
}

.main_container
{
  height: 100svh;
  width:  100%;
  position: relative;
  
  padding: 0.5rem;

  display:         flex;
  flex-direction:  column;
  align-items:     center;
  justify-content: space-between;
  gap:             0.5rem;
}

.content
{
  height: 100%;
  width:  100%;

  display:         flex;
  align-items:     center;
  justify-content: center;
}

@media (min-width: 1020px) 
{
  html,body 
  {
    background:             url("./assets/wave_blue.svg");
    background-position:    center;
    background-repeat:      no-repeat;
    background-size:        cover;
    background-color:     #001222;

    animation: bg_animation 30s ease-in-out infinite;
  }

  @keyframes bg_animation
  {
    0%  {background-position-x: 0px;    }
    50% {background-position-x: -1200px;}
    100%{background-position-x: 0px;    }
  }
}

@media (max-width: 1019px) 
{
  html,body 
  {
    background:        url("./assets/road_mobile.svg");
    background-position:    center;
    background-repeat:      repeat-y;
    background-size:        cover;

    animation: road_animation 5s linear infinite;
  }

  @keyframes road_animation
  {
    0%   {background-position-x: 0px;  }
    100% {background-position-y: 667px;}
  }
}