.HP_main
{
    height: 100%;
    width:  100%;

    padding: 0.5rem;

    display:         flex;
    flex-direction:  column;
    align-items:     center;
    justify-content: space-between;
    gap:             1rem;
}
