.MD_container
{
  height: 100%;
  width:  100%;

  display:         flex;
  flex-direction:  column;
  align-items:     center;
  justify-content: center;
  gap:             1rem;

  transition: all ease-out 0.14s;

  background:             rgba(0, 0, 0, 0.5);  /* LIGHT */
  box-shadow: 0 4px 30px  rgba(0, 0, 0, 0.8);
  backdrop-filter:          blur(25px);
  -webkit-backdrop-filter:  blur(25px);

  border-radius: 10px;

  position: absolute;
}


.MD_display
{
    height: 300px;
    width:  300px;

    display:               grid;
    grid-template-columns: 100px 200px;
    grid-template-rows:    auto;

    grid-template-areas: 
    "img data"
    "img data";

    border-radius: 10px;

    background-color: gray;
}

.MD_display_img
{
    grid-area:       img;
    display:         flex;
    align-items:     center;
    justify-content: center;
}

.MD_display_img > img
{
    width: 60%;
    
    object-fit:   contain;
    aspect-ratio: 1/1;
}

.MD_data
{
    padding: 1rem;

    display:         flex;
    flex-direction:  column;
    align-items:     center;
    justify-content: space-between;

    grid-area: data;
}

.MD_data > span
{
    width: 100%;

    font-size: 1rem;
    font-weight: 500;
    text-align:  center;
    word-wrap:   break-word;

}

.MD_data > button
{
    height: 5rem;
    width:  150px;

    padding: 0 1rem;

    display:         flex;
    align-items:     center;
    justify-content: center;

    appearance:    none;
    border:        none;
    border-radius: 10px;

}

.MD_data > button:hover { filter: brightness(0.8); cursor: pointer;}
.MD_data > button:focus { outline: none; }

.MD_success
{
    background-color: #56c790;
    color:#cbfcdf ;
}

.MD_warning
{
    background-color:#F57C00 ;
    color: #ffede8;
}

.MD_error
{
    background-color:#ff1744 ;
    color: #ffeced;
}