.MD_container
{
    height: 100%;
    width:  100%;

    display:         flex;
    flex-direction:  column;
    align-items:     center;
    justify-content: center;

    background-color:       #00203680;
    box-shadow: 0 4px 30px  rgba(0, 0, 0, 0.8);
    backdrop-filter:          blur(25px);
    -webkit-backdrop-filter:  blur(25px);

    border-radius: 10px;

    position: fixed;
    inset:    0;
    z-index:  9999;
}

.MD_display_img
{
    grid-area:       img;
    display:         flex;
    align-items:     center;
    justify-content: center;
}

.MD_data
{
    padding: 4rem;

    grid-area:       data;
    display:         flex;
    flex-direction:  column;
    align-items:     center;
    justify-content: space-between;

    background-color: #00203680;
}

.MD_data > span
{
    width: 100%;

    font-size:   1rem;
    font-weight: 500;
    text-align:  center;
    word-wrap:   break-word;
}

.MD_data  button
{
    height: 5rem;
    width:  150px;

    padding: 0 1rem;

    display:         flex;
    align-items:     center;
    justify-content: center;

    appearance:    none;
    border:        none;
    border-radius: 10px;

    transition: all 0.14s ease-in-out;
}

/* [ DESKTOP ] */
@media (min-width: 1020px) 
{
    .MD_display
    {
        height: 400px;
        width:  800px;

        display:               grid;
        grid-template-columns: 200px 600px;
        grid-template-rows:    auto;

        grid-template-areas: 
        "img data"
        "img data";

        border-radius: 10px;

        background-color: gray;
    }

    .MD_display_img > img
    {
        width: 60%;
        
        object-fit:   contain;
        aspect-ratio: 1/1;
    }

    .MD_data > button:hover { filter: brightness(0.8); cursor: pointer;}
    .MD_data > button:focus { outline: none; }

    .MD_success
    {
        background-color: #56c790;
        color:#cbfcdf ;
    }

    .MD_warning
    {
        background-color:#F57C00 ;
        color: #ffede8;
    }

    .MD_error
    {
        background-color:#ff1744 ;
        color: #ffeced;
    }
}

/* [ MOBILE ]*/
@media (max-width: 1019px) 
{
    .MD_display
    {
        height: 350px;
        width:  350px;

        display:               grid;
        grid-template-columns: 50px 300px;
        grid-template-rows:    auto;

        grid-template-areas: 
        "img data"
        "img data";

        border-radius: 10px;

        background-color: gray;
    } 

    .MD_display_img > img
    {
        width: 80%;
        
        object-fit:   contain;
        aspect-ratio: 1/1;
    }



    .MD_data  button
    {
        height: 5rem;
        width:  150px;

        padding: 0 1rem;

        display:         flex;
        align-items:     center;
        justify-content: center;

        appearance:    none;
        border:        none;
        border-radius: 10px;


        transition: all 0.14s ease-in-out;
    }

    .MD_success
    {
        background-color: #56c790;
        color:#cbfcdf ;
    }

    .MD_warning
    {
        background-color:#F57C00 ;
        color: #ffede8;
    }

    .MD_error
    {
        background-color:#ff1744 ;
        color: #ffeced;
    }
}